.menu__close-btn {
    background: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-image: url(../../../images/close-white.svg);
    width: 24px;
    height: 24px;
    z-index: 1;
}