.menu__open-btn {
    background-image: url(../../../images/menu-white.svg);
    display: none;
    background: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    z-index: 1;
  }
  
  @media (max-width: 720px) {
    .menu__open-btn {
      display: block;
    }
  }